* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamBook.otf") format("OpenType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamBookItalic.otf") format("OpenType");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* LIGHT */
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamLight.otf") format("OpenType");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamLightItalic.otf") format("OpenType");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/* ITALIC */
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamItalic.otf") format("OpenType");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* ULTRA */
@font-face {
  font-family: "SVN-Gotham Ultra";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamUltra.otf") format("OpenType");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham Ultra";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamUltraItalic.otf") format("OpenType");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
/* THIN */
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamThin.otf") format("OpenType");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamThinItalic.otf") format("OpenType");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/* GOTHAM */
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-Gotham.otf") format("OpenType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* XLIGHT */
@font-face {
  font-family: "SVN-Gotham XLight";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamXLight.otf") format("OpenType");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham XLight";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamXLightItalic.otf") format("OpenType");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
/* BLACK */
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamBlack.otf") format("OpenType");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamBlackItalic.otf") format("OpenType");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
/* BOLD */
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamBold.ttf") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gotham";
  src: url("https://www.greenfeed.com.vn/sustainability-report-2021/fonts/SVN-GothamBoldItalic.otf") format("OpenType");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "SVN-Gotham", sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #7e8083;
  margin: 0 auto;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap {
  max-width: 1260px;
  margin: 0 auto;
}

.animate__fadeIn,
.animate__fadeInRight,
.animate__fadeInLeft,
.animate__fadeInDown,
.animate__fadeInUp,
.animate__zoomIn,
.animate__chartBarTop,
.animate__chartBarBottom,
.animate__chartBarRight,
.animate__chartBarLeft,
.animate__draw,
.animation,
circle {
  opacity: 0;
}

.m-0 {
  margin: 0 !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt--5 {
  margin-top: -5px;
}

.mt--25 {
  margin-top: -25px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-9 {
  margin-left: 9px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-55 {
  margin-left: 55px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-1 {
  margin-right: 1px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-40 {
  margin-right: 40px;
}

.my-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pt-22 {
  padding-top: 22px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-42 {
  padding-top: 42px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-7 {
  padding-right: 7px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-7 {
  padding-right: 7px;
}

.pr-10 {
  padding-right: 10px !important;
}

.pl-5 {
  padding-left: 5px;
}

.pl-7 {
  padding-left: 7px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-15 {
  padding-left: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.border-bottom-2 {
  border-bottom: 2px solid #d6efda;
}

.border-right {
  border-right: 1px dotted;
}

.border-left {
  border-left: 1px solid;
}

.color-DAECD9 {
  border-color: #daecd9;
}

.border-bottom {
  border-bottom: 1px dotted;
}

.border-bottom-solid {
  border-bottom: 1px solid #daecd9;
}

.border-color-dark-green {
  border-color: #006937;
}

.border-color-orange {
  border-color: #f89c1c;
}

.border-color-green-light {
  border-color: #80C242;
}

.border-color-green-100 {
  border-color: rgba(128, 194, 67, 0.2588235294);
}

.border-right-green {
  border-right: 1px dotted #3e9647;
}

.border-right-blue {
  border-right: 1px dotted #26a9e0;
}

.d-flex {
  display: flex;
}
.d-flex.flex-column {
  flex-direction: column;
}
.d-flex.gap-x-8 {
  gap: 0 8px;
}
.d-flex.gap-x-7 {
  gap: 0 7px;
}
.d-flex.gap-x-5 {
  gap: 0 5px;
}
.d-flex.gap-x-10 {
  gap: 0 10px;
}
.d-flex.gap-x-12 {
  gap: 0 12px;
}
.d-flex.gap-x-15 {
  gap: 0 15px;
}
.d-flex.gap-x-30 {
  gap: 0 30px;
}
.d-flex.gap-x-20 {
  gap: 0 20px;
}
.d-flex.justify-content-center {
  justify-content: center;
}
.d-flex.justify-content-between {
  justify-content: space-between;
}
.d-flex.justify-content-end {
  justify-content: end;
}
.d-flex.align-items-baseline {
  align-items: baseline;
}
.d-flex.align-items-center {
  align-items: center;
}
.d-flex.align-items-end {
  align-items: end;
}
.d-flex .align-self-center {
  align-self: center;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-end {
  text-align: end !important;
}

.font-15 {
  font-size: 15px !important;
}

.color-green {
  color: #3fac49;
}

.color-green-light {
  color: #80C242;
}

.color-darkgreen {
  color: #006937;
}

.color-blue {
  color: #26A9E0;
}

.color-orange {
  color: #f89c1c;
}

.color-white {
  color: #fff !important;
}

.bg-green {
  background: #3fac49;
}

.bg-darkgreen {
  background: #006937;
}

.bg-green-light {
  background: #80C242;
}

.bg-blue {
  background: #26A9E0;
}

.bg-orange {
  background: #f89c1c;
}

.bg-92CD93 {
  background: #92cd93;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.font-17 {
  font-size: 17px !important;
}

.flex-50 {
  flex: 0 0 50%;
}

.flex-80 {
  flex: 0 0 80%;
}

.flex-48 {
  flex: 0 0 48%;
}

.flex-49 {
  flex: 0 0 49%;
}

.flex-45 {
  flex: 0 0 45%;
}

.flex-19-5 {
  flex: 0 0 19.5%;
}

.flex-18 {
  flex: 0 0 18%;
}

.flex-28 {
  flex: 0 0 28%;
}

.flex-38 {
  flex: 0 0 38%;
}

.flex-27 {
  flex: 0 0 27%;
}

.flex-26 {
  flex: 0 0 26%;
}

.flex-60 {
  flex: 0 0 60%;
}

.flex-61 {
  flex: 0 0 61%;
}

.flex-70 {
  flex: 0 0 70%;
}

.flex-35-5 {
  flex: 0 0 35.5%;
}

.flex-43-5 {
  flex: 0 0 43.5%;
}

.flex-1 {
  flex: 1;
}

.line-height-36 {
  line-height: 36px !important;
}

.line-height-28 {
  line-height: 28px !important;
}

.line-height-10 {
  line-height: 10px !important;
}

.display-inline-flex {
  display: inline-flex;
}

.text-uppercase {
  text-transform: uppercase;
}

.white-space {
  white-space: nowrap;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.btn-white {
  width: 107px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #00AF38;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1882352941);
  background-color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1882352941);
  background-color: #fff;
}

.rotate-90 {
  transform: rotate(90deg);
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.text-inherit {
  text-transform: inherit !important;
}

.header {
  position: relative;
  background-color: #ffffff;
}
.header.show {
  position: sticky;
  z-index: 999;
  top: 0;
}
.header.show::after {
  content: "";
  background-color: #ffffff;
  position: fixed;
  height: 65px;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.header.show-mobile {
  position: sticky;
  z-index: 999;
  top: 0;
}
.header-content {
  max-width: 945px;
  margin-left: 110px;
  height: 54px;
  display: flex;
}
.header-content .header-logo {
  display: flex;
  align-items: center;
  z-index: 999;
}
.header-content .header-logo .logo {
  width: 69px;
  height: 43px;
  margin-right: 55px;
}
.header-content .header-menu {
  z-index: 9;
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-content .header-menu .menu-item {
  width: 109px;
  height: 54px;
  background-color: #ffffff;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  text-align: center;
  padding-top: 16px;
  transition: all 1s;
  cursor: pointer;
  user-select: none;
  display: block;
}
.header-content .header-menu .menu-item:hover, .header-content .header-menu .menu-item.active {
  background-color: #3fac49;
  color: #ffffff;
}
.header .title-header {
  font-size: 14px;
  line-height: 15px;
  color: #939598;
  letter-spacing: -1px;
}
.header .header-content-mb {
  padding: 15px 18px 13px;
  border-bottom: 1px solid #dcddde;
}
.header .header-content-mb .header-logo {
  height: 56px;
  border-right: 1.5px solid #dcddde;
  padding-right: 20px;
  padding-top: 5px;
}
.header .header-content-mb .header-logo a {
  width: 63px;
  height: 39px;
  display: block;
}
.header .header-content-mb .title-page p {
  font-size: 14px;
  line-height: 12px;
  color: #939598;
}
.header .header-content-mb .bars {
  margin-left: 20px;
}
.header .header-content-mb .bars .line {
  width: 18px;
  height: 2px;
  background: #c7c8ca;
  display: block;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
.header .header-content-mb .bars.active .line:nth-child(2) {
  opacity: 0;
}
.header .header-content-mb .bars.active .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.header .header-content-mb .bars.active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.header .header-menu-mb {
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  background: #fff;
  z-index: 4;
  width: 100%;
  padding: 0 17px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.3s ease-in-out;
}
.header .header-menu-mb .menu-item-mb {
  font-size: 14px;
  line-height: 12px;
  padding: 13px 0 13px 10px;
  display: block;
  border-bottom: 1px solid #dcddde;
}
.header .header-menu-mb .menu-item-mb.active {
  color: #3fac49;
}
.header .header-menu-mb li:nth-last-child(1) .menu-item-mb {
  border: none;
}
.header .header-menu-mb.active {
  height: 275px;
}
.header .bg-dark-menu {
  height: calc(100vh - 85px);
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.231372549);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.header .bg-dark-menu.active {
  opacity: 1;
  visibility: inherit;
}

.switch-wrapper {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 999;
}

.switch-wrapper-mb {
  position: relative;
  z-index: 999;
}

.label-container p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}

.switch-container {
  width: 60px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.switch-container-mb {
  width: 37px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.font-switch span {
  font-size: 9px !important;
  font-weight: 400 !important;
}

.switch-container-mb .switch-bg,
.switch-container .switch-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #949494;
  z-index: -1;
  transition: background-color 0.2s ease-in;
}

.switch-container-mb #with-warrenty:checked ~ .switch-bg,
.switch-container #with-warrenty:checked ~ .switch-bg {
  background-color: #3fac49;
}

.switch-container-mb .switch-left span,
.switch-container .switch-left span {
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.switch-container-mb .switch-right span,
.switch-container .switch-right span {
  font-size: 11px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.switch-container-mb #with-warrenty:checked ~ .switch-left span,
.switch-container #with-warrenty:checked ~ .switch-left span {
  opacity: 1;
}

.switch-container-mb #with-warrenty:checked ~ .switch-right span,
.switch-container #with-warrenty:checked ~ .switch-right span {
  opacity: 0;
}

.switch-container-mb .round-box {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  transform: translate(-3px, -50%);
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.switch-container .round-box {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  transform: translate(-3px, -50%);
  background-color: #f6f6f6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

.switch-container #with-warrenty:checked ~ .round-box {
  transform: translate(25px, -50%);
}

.switch-container-mb #with-warrenty:checked ~ .round-box {
  transform: translate(15px, -50%);
}

/*# sourceMappingURL=app.css.map */
