.section-1 {
  display: flex;
  height: 653px;
}
.section-1 .left {
  flex: 1;
  position: relative;
}
.section-1 .left::before {
  content: " ";
  background: url("https://www.greenfeed.com.vn/sustainability-report-2021/images/buc-tranh-toan-canh/img-1.png") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 315px;
  height: 195px;
  left: 0;
  bottom: 0;
  position: absolute;
}
.section-1 .left::after {
  content: " ";
  background: url("https://www.greenfeed.com.vn/sustainability-report-2021/images/buc-tranh-toan-canh/img-2.png") no-repeat;
  background-size: cover;
  width: 248px;
  height: 201px;
  right: -90px;
  top: 0;
  position: absolute;
  z-index: 1;
}
.section-1 .left .box-title-left {
  position: absolute;
  top: 145px;
  right: 80px;
  z-index: 2;
}
.section-1 .left h1 {
  font-size: 49px;
  line-height: 60px;
  color: #076836;
  font-weight: 900;
  text-transform: uppercase;
}
.section-1 .left h1:nth-child(1) {
  letter-spacing: 1px;
}
.section-1 .left h1:nth-child(3) {
  letter-spacing: 3px;
}
.section-1 .left .box-des {
  border: 1.5px solid #076836;
  border-right: none;
  border-left: none;
  padding: 14px 0;
  max-width: 324px;
  text-align: center;
}
.section-1 .left .box-des h2 {
  font-size: 16px;
  color: #076836;
  font-weight: bold;
  text-transform: uppercase;
}
.section-1 .right {
  flex: 1;
  position: relative;
}
.section-1 .right svg {
  position: absolute;
  top: -55px;
  left: -75px;
  height: 750px;
}
.section-1 img {
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 2;
}

.section-2 {
  position: relative;
}
.section-2 .section-text {
  display: flex;
  width: 820px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-2 .section-text h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 59px;
  color: #ffffff;
  flex: 1;
}
.section-2 .section-text .box-right {
  flex: 1;
  padding-left: 15px;
}
.section-2 .section-text .box-right p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 13px;
  color: #ffffff;
}

.section-3 {
  margin-top: 53px;
}
.section-3 .heading {
  color: #3fac49;
  font-size: 40px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
}
.section-3 .left {
  margin-left: 225px;
  padding-right: 15px;
}
.section-3 .left p {
  font-size: 12px;
  line-height: 15px;
  color: #231f20;
  text-align: justify;
}
.section-3 .left .dear {
  font-weight: bold;
  font-style: italic;
}
.section-3 .right {
  min-width: 492px;
  position: relative;
  margin-top: -90px;
}
.section-3 .right img {
  width: 492px;
  height: 1143px;
}
.section-3 .right .quote {
  position: absolute;
  top: 150px;
  left: 15px;
  font-size: 12px;
  color: #3fac49;
  line-height: 17px;
  max-width: 329px;
  background-color: #ffffff;
}

.section-4 .card-result {
  max-width: 1176px;
  margin: -200px auto 0;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 56px;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
  position: relative;
}
.section-4 .card-result .w-109 {
  width: 109px;
}
.section-4 .card-result .w-100 {
  width: 100px;
}
.section-4 .card-result .w-95 {
  width: 95px;
}
.section-4 .card-result .w-90 {
  width: 90px;
}
.section-4 .card-result .w-88 {
  width: 88px;
}
.section-4 .card-result .w-70 {
  width: 70px;
}
.section-4 .card-result .w-59 {
  width: 59px;
}
.section-4 .card-result .w-50 {
  width: 50px;
}
.section-4 .card-result .w-35 {
  width: 35px;
}
.section-4 .card-result .w-43 {
  width: 43px;
}
.section-4 .card-result .w-40 {
  width: 40px;
}
.section-4 .card-result .w-37 {
  width: 37px;
}
.section-4 .card-result .w-20 {
  width: 20px;
}
.section-4 .card-result .w-22 {
  width: 22px;
}
.section-4 .card-result .w-15 {
  width: 15px;
}
.section-4 .card-result-heading {
  font-size: 40px;
  line-height: 32px;
  color: #3fac49;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.section-4 .card-result .label {
  display: inline-block;
  font-size: 12px;
  color: #808285;
  line-height: 14px;
}
.section-4 .card-result .number {
  font-size: 31px;
  line-height: 37px;
  font-weight: bold;
  text-align: left;
}
.section-4 .card-result .unit {
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  text-align: left;
}
.section-4 .card-result-content {
  display: flex;
}
.section-4 .card-result-content .title {
  font-size: 17px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}
.section-4 .card-result-content .sustainable-growth {
  border-radius: 13px;
  background-color: #fff1e2;
  padding: 15px 12px 10px;
  width: 520px;
}
.section-4 .card-result-content .sustainable-growth .title {
  color: #f89c1c;
  margin-bottom: 10px;
}
.section-4 .card-result-content .sustainable-growth-content .number {
  color: #f89c1c;
}
.section-4 .card-result-content .sustainable-growth-content .unit {
  color: #f89c1c;
}
.section-4 .card-result-content .sustainable-growth-content .label {
  margin: 5px 0;
}
.section-4 .card-result-content .sustainable-growth-content .turnover {
  padding-right: 15px;
  border-right: 1px dotted #f89c1c;
  text-align: center;
}
.section-4 .card-result-content .sustainable-growth-content .turnover .icon {
  width: 48px;
  height: 58px;
  margin: 0 auto;
}
.section-4 .card-result-content .sustainable-growth-content .budget-contribution {
  padding: 3px 15px 0;
  border-right: 1px dotted #f89c1c;
  text-align: center;
}
.section-4 .card-result-content .sustainable-growth-content .budget-contribution .icon {
  width: 48px;
  height: 44px;
  margin: 5px auto;
}
.section-4 .card-result-content .sustainable-growth-content .scale {
  padding: 10px 0 5px 15px;
}
.section-4 .card-result-content .sustainable-growth-content .scale .label {
  margin: 0;
  line-height: 12px;
}
.section-4 .card-result-content .sustainable-growth-content .scale .icon-farm {
  width: 47px;
  height: 35px;
  margin: 0;
  margin-right: 14px;
  align-self: center;
}
.section-4 .card-result-content .sustainable-growth-content .scale .icon-fish {
  width: 23px;
  height: 23px;
  margin: 0;
  align-self: center;
}
.section-4 .card-result-content .sustainable-growth-content .scale .icon-chicken {
  width: 19px;
  height: 23px;
  margin: 0;
  align-self: center;
}
.section-4 .card-result-content .sustainable-growth-content .scale .icon-pig {
  width: 36px;
  height: 21px;
  margin: 0;
  align-self: center;
}
.section-4 .card-result-content .sustainable-growth-content .factory {
  display: flex;
}
.section-4 .card-result-content .sustainable-growth-content .factory .icon {
  width: 38px;
  height: 38px;
  margin: 0;
}
.section-4 .card-result-content .sustainable-growth-content .factory .unit {
  display: inline-block;
  font-size: 12px;
  line-height: 13px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 3px;
}
.section-4 .card-result-content .sustainable-human-resources {
  background-color: rgba(128, 194, 66, 0.1607843137);
  border-radius: 13px;
  margin-left: 3px;
  padding: 14px 21px;
  width: 540px;
}
.section-4 .card-result-content .sustainable-human-resources .title {
  color: #3fac49;
}
.section-4 .card-result-content .sustainable-human-resources-content {
  display: flex;
}
.section-4 .card-result-content .sustainable-human-resources-content .number {
  color: #3fac49;
}
.section-4 .card-result-content .sustainable-human-resources-content .label {
  white-space: nowrap;
  text-align: center;
}
.section-4 .card-result-content .sustainable-human-resources-content .staff {
  padding: 7px 15px 0 0;
  text-align: center;
}
.section-4 .card-result-content .sustainable-human-resources-content .staff .icon {
  width: 58px;
  height: 28px;
  margin: 10px auto 0;
}
.section-4 .card-result-content .sustainable-human-resources-content .rate {
  padding: 7px 14px 0;
  text-align: center;
}
.section-4 .card-result-content .sustainable-human-resources-content .hours-training {
  padding: 7px 14px 0;
  text-align: center;
}
.section-4 .card-result-content .sustainable-human-resources-content .hours-training .number {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
}
.section-4 .card-result-content .sustainable-human-resources .system-deployment {
  padding-left: 14px;
  padding-top: 7px;
  text-align: left;
}
.section-4 .card-result-content .sustainable-human-resources .system-deployment .icon {
  width: 90px;
  height: 21px;
  margin: 2px;
}
.section-4 .card-result-content .sustainable-human-resources .system-deployment .label {
  text-align: left;
}
.section-4 .card-result-content .sustainable-environment {
  background-color: #e9f2fa;
  border-radius: 13px;
  margin-left: 3px;
  margin-top: 3px;
  padding: 12px 30px 14px 16px;
  width: 540px;
}
.section-4 .card-result-content .sustainable-environment .title {
  color: #26A9E0;
  text-align: center;
  margin-bottom: 3px;
}
.section-4 .card-result-content .sustainable-environment-content {
  display: flex;
}
.section-4 .card-result-content .sustainable-environment-content .number {
  color: #26A9E0;
}
.section-4 .card-result-content .sustainable-environment-content .label {
  white-space: nowrap;
}
.section-4 .card-result-content .sustainable-environment-content .energy-density {
  padding-right: 25px;
}
.section-4 .card-result-content .sustainable-environment-content .energy-density .icon {
  width: 54px;
  height: 61px;
  margin-right: 8px;
}
.section-4 .card-result-content .sustainable-environment-content .agricultural-area {
  padding: 0 15px;
}
.section-4 .card-result-content .sustainable-environment-content .agricultural-area .unit {
  text-transform: none;
}
.section-4 .card-result-content .sustainable-environment-content .premises {
  padding-left: 15px;
}
.section-4 .card-result-content .sustainable-environment-content .premises .icon {
  width: 29px;
  height: 29px;
  margin-right: 8px;
}
.section-4 .card-result-content .sustainable-products {
  background-color: #eef5e7;
  border-radius: 13px;
  padding: 15px 0 0 8px;
  width: 520px;
}
.section-4 .card-result-content .sustainable-products .title {
  color: #006937;
  margin-bottom: 15px;
}
.section-4 .card-result-content .sustainable-products-content .number {
  color: #006937;
  text-align: center;
}
.section-4 .card-result-content .sustainable-products-content-left {
  flex: 0 0 35;
}
.section-4 .card-result-content .sustainable-products-content-right {
  flex: 0 0 65%;
  padding: 14px 14px 0;
}
.section-4 .card-result-content .sustainable-products-content .product-develop {
  text-align: center;
  border-color: rgba(128, 194, 67, 0.2588235294);
  margin: 10px 15px 0;
  padding-bottom: 25px;
}
.section-4 .card-result-content .sustainable-products-content .quality-food {
  text-align: center;
  padding-top: 25px;
  padding-right: 10px;
}
.section-4 .card-result-content .sustainable-products-content .operate {
  padding-bottom: 20px;
}
.section-4 .card-result-content .sustainable-products-content .operate .icon {
  width: 60px;
  height: 60px;
  margin: 0 25px 0 15px;
}
.section-4 .card-result-content .sustainable-products-content .operate .label {
  display: flex;
}
.section-4 .card-result-content .sustainable-products-content .factory {
  padding: 25px 12px 0;
}
.section-4 .card-result-content .sustainable-products-content .factory .icon {
  width: 82px;
  height: 63px;
  margin: 0 10px 0 7px;
}
.section-4 .card-result-content .sustainable-products-content .factory .unit {
  color: #006937;
  font-weight: bold;
  text-transform: uppercase;
}
.section-4 .card-result-content .sustainable-community {
  background-color: rgba(63, 172, 73, 0.0705882353);
  border-radius: 13px;
  padding: 15px;
  width: 540px;
}
.section-4 .card-result-content .sustainable-community .title {
  color: #80C242;
  margin-bottom: 5px;
}
.section-4 .card-result-content .sustainable-community-content .label {
  white-space: nowrap;
}
.section-4 .card-result-content .sustainable-community-content .number {
  color: #80C242;
  font-size: 35px;
}
.section-4 .card-result-content .sustainable-community-content .unit {
  color: #80C242;
}
.section-4 .card-result-content .sustainable-community-content .donate {
  padding: 0 15px 15px 7px;
}
.section-4 .card-result-content .sustainable-community-content .donate .icon {
  width: 47px;
  height: 42px;
  margin: 15px 15px 0 0;
}
.section-4 .card-result-content .sustainable-community-content .grant-capital {
  padding: 0 20px;
}
.section-4 .card-result-content .sustainable-community-content .grant-capital .icon {
  width: 45px;
  height: 30px;
  margin-left: 5px;
}
.section-4 .card-result-content .sustainable-community-content .support {
  padding-left: 20px;
}
.section-4 .card-result-content .sustainable-community-content .tuition-support {
  padding: 0 13px 0 1px;
}
.section-4 .card-result-content .sustainable-community-content .tuition-support .label {
  display: flex;
}
.section-4 .card-result-content .sustainable-community-content .tuition-support .text-last {
  display: inline-block;
}
.section-4 .card-result-content .sustainable-community-content .tuition-support .unit {
  font-size: 12px;
  line-height: 13px;
  color: #80C242;
  font-weight: bold;
  text-transform: uppercase;
}
.section-4 .card-result-content .sustainable-community-content .family-support {
  padding: 0 10px;
}
.section-4 .card-result-content .sustainable-community-content .give-meals {
  padding: 12px 0 0 15px;
}
.section-4 .card-result-content .sustainable-community-content .give-meals .font-number-31 {
  font-size: 31px !important;
}
.section-4 .card-result-content .sustainable-community-content .give-meals .icon {
  width: 40px;
  height: 44px;
  margin-left: 3px;
}
.section-4 .card-result-content .sustainable-community-content .give-meals .unit {
  font-size: 12px;
  line-height: 13px;
  color: #80C242;
  font-weight: bold;
  text-transform: uppercase;
}

.section-5 {
  background-color: #3fac49;
  padding-top: 318px;
  margin-top: -260px;
  padding-bottom: 75px;
  height: 1244px;
}
.section-5 .title-heading {
  font-size: 40px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section-5 .card-core {
  margin: 0 auto;
  display: table;
}
.section-5 .card-core .images {
  width: 188px;
  height: 250px;
}
.section-5 .card-core ul li {
  position: relative;
}
.section-5 .card-core ul li .box-text {
  position: absolute;
  top: 14px;
  left: 10px;
  color: #fff;
}
.section-5 .card-core ul li .box-text .title {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 13px;
  display: block;
}
.section-5 .card-core ul li .box-text ul {
  width: 172px;
}
.section-5 .card-core ul li .box-text ul li {
  list-style: disc;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 14px;
  font-weight: 300;
  margin-left: 10px;
}
.section-5 .card-core ul li .title-box {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: end;
  position: absolute;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.section-5 .card-core ul li .title-box.box-1-2 {
  bottom: 9%;
  left: 50%;
}
.section-5 .card-core ul li .title-box.box-3 {
  top: 58%;
  left: 53%;
}
.section-5 .card-core ul li .title-box.box-4-5 {
  top: 52%;
  left: 50%;
}
.section-5 .title-bottom {
  font-size: 26px;
  text-transform: uppercase;
  line-height: 32px;
  color: #fff;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 75px;
  letter-spacing: 2px;
}
.section-5 .btn {
  width: 150px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-transform: uppercase;
  color: #078844;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1882352941);
  background-color: #fff;
}

/*# sourceMappingURL=buc-tranh-toan-canh.css.map */
