.container-box {
  width: 810px;
  margin: 0 auto;
}

.title-heading {
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: #3fac49;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
}

.section-1 {
  position: relative;
}
.section-1 .section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: left;
  width: 1000px;
}
.section-1 .section-text .title {
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  flex: 1;
  padding-left: 75px;
}
.section-1 .section-text .text-right li {
  list-style: disc;
  color: #fff;
  font-size: 15px;
}
.section-1 .section-text .text-right li p {
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  color: #fff;
  flex: 1;
  padding-left: 5px;
}

.section-2 {
  background-image: linear-gradient(to bottom, #fff 54%, #E4F4E5 54%);
}
.section-2 .container-section-2 {
  width: 880px;
  margin: 0 auto 30px;
}
.section-2 .container-section-2 p {
  max-width: 393px;
  text-align: justify;
  font-size: 12px;
  color: #231F20;
  line-height: 15px;
}
.section-2 .container-section-2 .chart-1 {
  width: 341px;
  margin-left: auto;
  display: block;
}
.section-2 .title-heading {
  margin-top: 45px;
}

.section-3 {
  background-image: linear-gradient(to bottom, #E4F4E5 64%, #3FAC49 64%);
  padding: 70px 0 60px;
}
.section-3 .wp-section {
  max-width: 1175px;
  margin: 0 auto;
  box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.2);
  padding: 55px 183px;
  border-radius: 45px;
  position: relative;
  background: #fff;
}
.section-3 .wp-section .box-head .text-head {
  font-size: 12px;
  line-height: 15px;
  color: #231F20;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.section-3 .wp-section .box-list {
  display: flex;
}
.section-3 .wp-section .box-list .left {
  background: #F1F6EE;
  border-radius: 10px;
  flex: 0 0 27%;
  text-align: center;
  padding: 15px 0 18px;
}
.section-3 .wp-section .box-list .left .number {
  font-size: 60px;
  line-height: 72px;
  font-weight: bold;
  color: #C1DACA;
}
.section-3 .wp-section .box-list .left .lable {
  font-size: 20px;
  line-height: 23px;
  color: #006A38;
  font-weight: bold;
}
.section-3 .wp-section .box-list .right {
  flex: 0 0 63%;
  align-items: center;
  display: flex;
  padding-left: 15px;
  border-top: 2px solid #D6EFDA;
}
.section-3 .wp-section .box-list .right ul li {
  list-style: disc;
  font-size: 15px;
  color: #3fac49;
  padding-left: 20px;
}
.section-3 .wp-section .box-list .right ul li p {
  font-size: 18px;
  line-height: 30px;
  color: #3FAC49;
}

.section-4 {
  background: #3FAC49;
  margin-top: -2px;
}
.section-4 .title-heading {
  color: #fff;
}
.section-4 .section-text {
  width: 715px;
  margin: 0 auto;
  display: flex;
}
.section-4 .section-text .text-left {
  flex: 0 0 52%;
  margin-left: 25px;
}
.section-4 .section-text .text-left p {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
}
.section-4 .section-text .box-right {
  flex: 0 0 48%;
  justify-content: center;
  display: flex;
}
.section-4 .section-text .box-right .box-train {
  width: fit-content;
  height: 100%;
  background: #F1F6EE;
  border-radius: 17px;
  padding: 20px 28px;
  text-align: center;
}
.section-4 .section-text .box-right .box-train .list .lable {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #006A38;
  margin-bottom: 3px;
}
.section-4 .section-text .box-right .box-train .list .number {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  color: #006A38;
}
.section-4 .section-text .box-right .box-train .list:nth-child(2) {
  border-top: 1px dotted #006A38;
  border-bottom: 1px dotted #006A38;
}
.section-4 .section-text .box-right .box-train .list:nth-child(2) .number {
  margin-bottom: 10px;
  display: block;
}
.section-4 .section-text .box-right .box-train .list:nth-child(2) .lable {
  margin-top: 13px;
}
.section-4 .section-text .box-right .box-train .list:nth-child(1) .number {
  margin-bottom: 10px;
  display: block;
}
.section-4 .section-text .box-right .box-train .list:nth-child(3) .lable {
  margin-top: 13px;
}
.section-4 .text-head {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.section-4 .section-chart {
  width: 980px;
  margin: 45px auto 0;
  padding-bottom: 60px;
}
.section-5 {
  padding: 50px 0 60px;
}
.section-5 .box-description {
  width: 500px;
  margin: 0 auto;
}
.section-5 .box-description p {
  text-align: justify;
  color: #231F20;
  font-size: 12px;
  line-height: 14px;
}
.section-5 .box-description p b {
  color: #231F20;
  font-size: 12px;
  line-height: 14px;
}
.section-5 .box-description ul li {
  color: #231F20;
  list-style: disc;
  padding-left: 12px;
}
.section-5 .box-management-approach {
  background: #F0F7EE;
  padding: 20px 30px;
  border-radius: 15px;
}
.section-5 .box-management-approach .title {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  color: #006A38;
}
.section-5 .box-management-approach ul li {
  list-style: disc;
  color: #5AAC55;
  margin-bottom: 7px;
}
.section-5 .box-management-approach ul li p {
  font-size: 12px;
  line-height: 14px;
  color: #5AAC55;
}
.section-5 .box-management-approach ul li:nth-last-child(1) {
  margin-bottom: 0;
}
.section-5 .pyramid-title {
  font-size: 22px;
  line-height: 24px;
  color: #5AAC55;
  background: #fff;
  display: inline-flex;
  padding: 0 10px;
  margin-left: 75px;
}
.section-5 .line-head {
  width: 100%;
  height: 1.5px;
  background: #DCDDDE;
  display: block;
  margin-bottom: -14px;
}
.section-5 .btn {
  margin-top: 100px;
  width: 150px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-transform: uppercase;
  color: #078844;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1882352941);
}

/*# sourceMappingURL=nguon-nhan-luc-ben-vung.css.map */
