.section-1 {
  position: relative;
}
.section-1 .section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: left;
  width: 1000px;
  justify-content: space-between;
}
.section-1 .section-text .title {
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  flex: 0 0 50%;
}
.section-1 .section-text .text-right {
  flex: 0 0 42%;
}
.section-1 .section-text .text-right li {
  list-style: disc;
  color: #fff;
  font-size: 15px;
}
.section-1 .section-text .text-right li p {
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  color: #fff;
  padding-left: 5px;
}

.section-2 {
  background: #E4F4E5;
  padding-top: 45px;
}
.section-2 .wp-box {
  max-width: 856px;
  margin: 0 auto;
}
.section-2 .wp-box .title-heading {
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: #3fac49;
  text-align: center;
  font-weight: bold;
  margin-bottom: 45px;
}
.section-2 .wp-box .box {
  display: flex;
}
.section-2 .wp-box .box p {
  font-size: 12px;
  line-height: 15px;
  color: #231f20;
}
.section-2 .wp-box .box .left {
  flex: 0 0 52%;
}
.section-2 .wp-box .box .left .box-list {
  background: #3FAC49;
  border-radius: 10px;
  color: #fff;
  padding: 20px 28px;
  margin-top: 25px;
}
.section-2 .wp-box .box .left .box-list .title-box {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
}
.section-2 .wp-box .box .left .box-list ul {
  padding-left: 13px;
}
.section-2 .wp-box .box .left .box-list ul li {
  margin-bottom: 15px;
  list-style: disc;
}
.section-2 .wp-box .box .left .box-list ul li:nth-last-child(1) {
  margin-bottom: 0;
}
.section-2 .wp-box .box .left .box-list ul li p {
  color: #fff;
}
.section-2 .wp-box .box .right {
  flex: 1;
  padding-left: 25px;
}

.section-3 {
  background: #E4F4E5;
  padding-top: 1px;
  padding-bottom: 55px;
}
.section-3 .title {
  font-size: 25px;
  line-height: 29px;
  font-weight: bold;
  text-align: center;
  color: #086C39;
  border-radius: 50px;
  border: 1.5px solid #086C39;
  display: flex;
  background: #fff;
  width: 310px;
  height: 62px;
  align-items: center;
  justify-content: center;
  margin: 33px auto -31px;
  z-index: 1;
  position: relative;
}
.section-3 .box-icon {
  padding: 77px 30px 50px;
  width: 856px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-radius: 23px;
  border: 1.5px solid #086C39;
  background: #fff;
}
.section-3 .box-icon .grid-5 {
  width: 145px;
  text-align: center;
  margin: 0 auto;
}
.section-3 .box-icon .grid-5 p {
  font-size: 12px;
  line-height: 16px;
  color: #086C39;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
}
.section-3 .box-top .grid-5 .wp-img {
  height: 110px;
  margin-bottom: 15px;
}
.section-3 .box-top .grid-5 img {
  margin: 0 auto;
}
.section-3 .box-top .grid-5:nth-child(2) img {
  margin: auto auto 0 !important;
}
.section-3 .box-top .grid-5:nth-child(4) img {
  margin: auto !important;
}
.section-3 .box-bottom .grid-5 .wp-img {
  height: 105px;
  margin-bottom: 15px;
}
.section-3 .box-bottom .grid-5 img {
  margin: 0 auto;
}
.section-3 .box-bottom .grid-5:nth-child(2) img {
  margin: auto auto 0 !important;
}
.section-3 .box-bottom .grid-5:nth-child(3) img {
  margin: 8px auto 0 !important;
}
.section-3 .box-bottom .grid-5:nth-child(4) img {
  margin: auto !important;
}
.section-3 .box-bottom .grid-5:nth-child(5) img {
  margin: auto !important;
}

.section-4 {
  width: 856px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 75px;
}
.section-4 .box-head .title {
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
  color: #3fac49;
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}
.section-4 .box-head .text-head {
  font-size: 12px;
  line-height: 15px;
  color: #231f20;
  text-align: center;
}

.section-5 {
  background-image: linear-gradient(to bottom, #fff 45%, #3FAC49 45%);
  padding-bottom: 65px;
}
.section-5 .wp-section {
  width: 1175px;
  margin: 0 auto;
  border-radius: 45px;
  padding: 50px 100px 65px;
  background: #fff;
  box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.2);
}
.section-5 .wp-section .box-head .title-heading {
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: #3fac49;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
}
.section-5 .wp-section .box-head .grid-3 {
  flex: 0 0 31.5%;
  padding: 1px;
}
.section-5 .wp-section .box-head .grid-3 p {
  font-size: 12px;
  line-height: 15px;
  color: #231f20;
  text-align: justify;
  margin-bottom: 30px;
}
.section-5 .wp-section .box-head .box-title {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: #086C39;
  width: 306px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E2F3E4;
  border-radius: 8px;
  margin-bottom: 20px;
}

.section-6 {
  background: #3FAC49;
  padding-bottom: 65px;
  margin-top: -1px;
}
.section-6 .wp-section {
  width: 810px;
  margin: 0 auto;
}
.section-6 .title-heading {
  font-size: 40px;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-6 .grid-2 {
  flex: 0 0 47.5%;
  padding: 1px;
}
.section-6 .grid-2 p {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: justify;
  margin-bottom: 30px;
}
.section-6 .btn {
  width: 150px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-transform: uppercase;
  color: #3fac49;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.1882352941);
  background: #fff;
}

/*# sourceMappingURL=san-pham-ben-vung.css.map */
