
.complain__images
{
    flex-grow:1;
    position:relative;
}
.complain__content 
{
    width: 58%;
    margin-right:4rem;
    flex: none;
}
.complain__content h2
{
    font-size:2.25rem;
    margin-top: 0;
}
.complain__content p
{
    line-height:1.6;
    color:#404A3D;
}
.complain__content .om + h3
{
    font-size:1.0625rem;
}
.complain__content .btn
{
    margin:1rem 0 0;
}
.complain__image1
{
    width: 26.75rem;
}
.complain__image2
{
    width:15.625rem;
    margin-left:auto;
    margin-right:3rem;
    margin-top:.5rem;
}
.complain__image1 img
{
    aspect-ratio: 311/364;
    object-fit: cover;
    width: 100%;
    height:auto;
    
}
.dotted-1
{
    position:absolute;
    top:calc(18.75rem*1*(311/364));
    right:1rem;
    width:7.25rem;
    height:auto;
}
.complain
{
    padding:3rem 0;
}
@media screen and (max-width: 1023px)
{
    .complain__content
    {
        width:100%;
        margin: 0 0;
        order: 2;
    }
    .complain__image1
    {
        width:100%;
    }
    .complain__images
    {
        display:none;
    }
    .complain__content h2
    {
        font-size:2rem;
    }
}
