
/* About 2024 */
.message-1
{
    padding:3.5rem 0 0;
}
.message-1-inner
{
    display:flex;
    align-items:flex-end;
}
.message-1__image
{
    width:38%;
    flex:none;
    display:grid;
}
.message-1__content
{
    height:100%;
    color:#404A3D;
    font-size:1.125rem;
    line-height:1.6;
    padding-bottom:2rem;
    text-align: justify;
}
.message-1__content blockquote
{
    color:#60AA55;
    margin:0;
    font-size: 1.125rem;
    font-weight:500;
}
.message-2
{
    margin:0;
    padding:5rem 0;
    position:relative;
}
.message-2__content
{
    color:#fff;
    text-align: justify;
    font-size:1.75rem;
    z-index:2;
    position:relative;
}
.message-2:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
    background:#00000075;
 
}
.message-3
{
    padding:3.5rem 0;
}
.message-3-inner
{
    display:flex;
}
.message-3__image
{
    flex:none;
    width:30%;
}
.message-3__content
{
    flex-grow:1;
    padding-right:2.5rem;
    font-size:1.1875rem;
    line-height:1.6;
    text-align: justify;
}
.message-3__content p:first-child
{
    margin-top:0;
}

.philosophy-section
{
    padding:3.5rem 0;
}
.philosophy-inner
{
    display:flex;
}
.philosophy__content
{
    text-align:justify;
}
.philosophy__image
{
    flex:none;
    width:50%;
}
.philosophy__image img
{
    /* aspect-ratio: 624/612; */
    object-fit: cover;
    width: 100%;
    height:auto;
    
}
.philosophy__contents
{
    flex-grow:1;
    padding-right:4rem;
    color: #404A3D;
    font-size: 1rem;
    line-height: 1.6;
}
/*--------------------------------------------------------------
>>> Brands
--------------------------------------------------------------*/
.brands
{
    padding:1.5rem 0 3.5rem;
}
.brands-inner {
  padding: 0;
  position: relative;
  align-items: center;
  justify-content:space-between;
  background:#fff;
  border-radius:1.5rem;
}
.brands__images
{
   flex-grow:1;
}
.brands__contents
{
    margin-left: 4rem;
    box-sizing: border-box;
    width: 50%;
    flex: none;
}

.brands__content
{
     color:#404A3D;
     font-size:1rem;
     line-height:1.6;
     text-align: justify;
}
.brands__content ul
{
    list-style:none;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.brands__content li
{
    width:calc((100% - 1rem)/2);
    position:relative;
    padding-left:1.6rem;
    box-sizing:border-box;
    margin-bottom:.5rem;
   
    /* white-space:nowrap; */
}
html:not([lang="vi"]) .brands__content li
{
 text-align: left;
}
.brands__content li:before
{
    content:'';
    position:absolute;
    left:0rem;
    top:.3125rem;
    width:1.25rem;
    height:1.25rem;
    background-image:url(../05_images/check.svg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;

}
.brands-inner
{
    display:flex;
}
.mision-section
{
    background-color:#00622f;
    padding: 3.5rem 0;
    position: relative;
}
.mision-section .section-title
{
    text-align:center;
    color:#fff;
    position: relative;
    text-align: center;
    margin-bottom: 3rem;
}
.mision-section:before
{
    content:'';
    position:absolute;
    left:0rem;
    top:0;
    width:19rem;
    height:100%;
    background-image:url('../05_images/vision (6).png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}
.light-1
{
    width: 38rem;
    height:auto;
    bottom: 2.5rem;
    left: 6rem;
}
.circle-44
{
    width: 12rem;
    height:auto;
    top:0;
    right: 0;
}
.dots-1
{
    width: 10rem;
    height:auto;
    top:0;
    left: 0;
}
.mision-row
{
    padding: 0 0 0 16.5rem;
    display:flex;
    margin-bottom: 2rem;
    position: relative;
}
.mision-row.value:before
{
    content:'';
    position:absolute;
    left:calc( -1 * (100vw - 78.75rem)/2);
    top:50%;
    transform:translateY(-50%);
    width:calc(26rem + (100vw - 78.75rem)/2);
    height:100%;
    background-image:url('../05_images/vision (5).png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}
.mision-row.value:after
{
    content:'';
    position:absolute;
    left: 11rem;
    bottom:0%;
    width: calc(14.5rem);
    height: 50%;
    background-image:url('../05_images/dots (2).svg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.values-list
{
    padding-right: 4rem;
    padding-left: 16rem;
    display:flex;
    flex-wrap:wrap;
    position: relative;
    box-sizing: border-box;
}
.value-item:first-child
{
    position:absolute;
    width: 16rem;
    left:0;
    height:100%;
    background-image:url('../05_images/vision (3).png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.value-item:first-child:before
{
    content:'';
    position:absolute;
    left:0rem;
    top:0%;
    width:6rem;
    height:calc(100% - 50%);
    background-image:url('../05_images/dots (3).svg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
}
.value-item
{
    width:calc((100%)/2);
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.value-item:nth-child(2)
{
    background-image:url('../05_images/vision (2).png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}
.value-item:nth-child(3)
{
    background:#008a52;
}
.value-item:nth-child(4),
.value-item:nth-child(5)
{
    background-image:url('../05_images/vision (4).png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}
.value-item:nth-child(2):before
{
    content:'';
    position:absolute;
    right: -3rem;
    top:0%;
    width: 6rem;
    height:calc(100% - 0%);
    background-image:url('../05_images/dots (1).svg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index: 1;
}
.value-item:nth-child(4):before
{
    content:'';
    position:absolute;
    right: -5rem;
    top:0%;
    width: 10rem;
    height:calc(100% - 50%);
    background-image:url('../05_images/dots (5).svg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index: 1;
}
.value-item__image
{
    position:relative;
    z-index:2;
    display: grid;
    top: 1rem;
}
.mision-row .title
{
    color:#fff;
    font-size: 1.375rem;
    flex:none;
    width: 9rem;
    font-weight:500;
}
.mision-row.value .title
{
    padding-top:2rem;
}
.mision-row .content
{
    color:#fff;
    text-align: justify;
}
.mision-row .content p
{
    margin-top:.5rem;
}
.value-item__title
{
    color:#fff;
    text-transform:uppercase;
    font-weight:500;
    position: absolute;
    left: 2rem;
    padding-right: 4rem;
    top: 2rem;
}
.value-item:nth-child(2n+1) .value-item__title
{
    text-align:right;
    padding-right: 2rem;
    padding-left:4rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
}
.value-item__image
{
    padding-right: 3rem;
    margin-top: auto;
}
.value-item:nth-child(1) .value-item__image
{
    padding-right: 0;
    padding-left: 0rem;
    right: -3rem;
}
.value-item:nth-child(2n+2) .value-item__image
{
    padding-right:0;
    padding-left: 3rem;
}
.value-item:nth-child(4) .value-item__image
{
    padding-left: 4.5rem;
}
.culture-section
{
    padding:3.5rem 0;
}
.culture-inner
{
    display:flex;
    
}
.culture-inner .section-title
{
    line-height:1.4;
}
.culture__contents
{
    width:35%;
    flex-grow:1;
    padding-right:4.5rem;
    color: #404A3D;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}
.section__content
{
     color: #404A3D;
     font-size: 1rem;
     line-height: 1.6;
     text-align: justify;
}
.section-title
{
    color:#000;
}
.culture__image
{
    flex:none;
    width:50%;
}
.culture__image img
{
    height:100%;
    object-fit:cover;
}
.number-section
{
    padding:3.5rem 0 ;
}
.number-inner
{
    display:flex;
   
}
.number__images
{
    display:flex;
    flex-direction:column;
    flex: none;
    width: calc(50% - 3rem);
    margin-right: 3rem;
    box-sizing:border-box;
    position: relative;
}
.number__images>*
{
    padding-right:calc(50% + 1.5rem);
    display:grid;
}
.number__image1
{
    margin-bottom:1.5rem;
}
.number__images>.number__image3
{
    width: 50%;
    position:absolute;
    right:0;
    padding-right: 0;
    top:50%;
    transform:translateY(-50%);
}
.number__images>.number__image3 img
{
     aspect-ratio: 270/400;
}
.number__images img
{
    aspect-ratio: 270/320;
    object-fit: cover;
    width: 100%;
    height:auto;
    border-radius: .75rem;
}
.counter-wrap
{
    background:#f4fdf2;
    margin-bottom:.5rem;
    border-radius:.75rem;
    display:flex;
    align-items:center;
    padding: .5rem 2rem;
    flex-wrap: wrap;
}
.dotted-1
{
    width:7rem;
    height:5rem;
    right:-2rem;
    bottom:5rem;
    z-index:-1;
}
.counter
{
    font-size: 3rem;
    color:#60AA55;
    font-weight:600;
    margin-right:1rem;
    min-width: 25%;
    text-align:center;
    line-height: 1;
    padding-bottom: .5rem;
}
.counter-content
{
    font-size:1rem;
}
.one_half.last ~ .one_half .counter-wrap
{
    background:#effafa;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.one_half.last ~ .one_half .counter-wrap .counter
{
    color:#2FB6EF;
    width: 100%;
    text-align: left;
}
.one_half.last ~ .last ~ .one_half .counter-wrap
{
    background:#f7faef;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.one_half.last  ~ .last ~ .one_half .counter-wrap .counter
{
    color:#A6CB5E;
    width: 100%;
    text-align: left;
}
.history__contents
{
    text-align:center;
}
.history__list-wrap
{
     display:flex;
     align-items:center;
     margin: 4rem 0 0;
     position: relative;
     /* overflow: hidden; */
}
.history__list
{
    display:flex;
    align-items:center;
    width: 78.75rem;
}
.history__item
{
    flex:none;
    width: 16rem;
    position:relative;
    margin: 18rem 0 24rem;
    position: relative;
}
.history__item:nth-child(2)
{
    position:relative;
    left:-5rem;
    z-index: 2;
    width: 11rem;
}
.history__item:nth-child(3)
{
    position:relative;
    transform: translateX(-70%) translateY(-2rem);
    z-index:-1;
}
.history__item:nth-child(4)
{
     position:relative;
     transform: translateX(calc(-100% + 2rem))  translateY(-1rem);
     z-index:-2;
}
.history__item:nth-child(4) .history__item-image>img
{
    transform:translateX(60%);
    position:relative;
    z-index:0;
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 12rem;
    height:auto;
    
}
.history__item:nth-child(5)
{
     position:relative;
     transform: translateX(calc(-200% + 2rem))  translateY(-1rem);
     z-index: -1;
}
.history__item:nth-child(7)
{
     position:relative;
     transform: translateX(calc(-200% + 1rem))  translateY(-1.35rem);
     z-index: -2;
}
.history__item:nth-child(8)
{
     position:relative;
     transform: translateX(calc(-300% - 5rem))  translateY(1rem);
     z-index: -3;
    width:12rem;
}
.history__item:nth-child(9)
{
     position:relative;
     transform: translateX(calc(-300% - 7rem))  translateY(-2rem);
     z-index: -2;
    width:12rem;
}
.history__item:nth-child(10)
{
     position:relative;
     transform: translateX(calc(-400% + 4rem))  translateY(1rem);
     z-index: -3;
     width:14rem;
}
/* .history__item:nth-child(11)
{
     position:relative;
     transform: translateX(calc(-300% + 7rem))  translateY(-2rem);
     z-index: -2;
    width:12rem;
} */
.history__item:nth-child(n+11):nth-child(odd)
{
      position:relative;
      transform: translateX(calc(-400% + 7rem))  translateY(-2rem);
      z-index: -3;
}
.history__item:nth-child(n+11):nth-child(even)
{
      position:relative;
      transform: translateX(calc(-400% + 4rem))  translateY(-1rem);
      z-index: -3;
}
.history__item:nth-child(12)
{
     position:relative;
     bottom:-1rem;
     z-index: -3;
   
}
.history__item:nth-child(13)
{
     position:relative;
     left: -12rem;
     z-index: -3;
}
.history__item:nth-child(9)  .history__item-image>img
{
    aspect-ratio: 16/11;
    object-fit: cover;
    width: 100%;
    height:auto;
    
}
.history__item:nth-child(7)  .history__item-image>img
{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    height:auto;
    
}
.history__item:nth-child(5) .history__item-image>img
{
    position:relative;
    z-index:-22;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    width: 100%;
    height:auto;
    margin-left:auto;
}
.history__item-image2
{
    position:absolute;
    z-index:9;
    width:14rem;
    top: calc(50% + 0rem);
    left: 2rem;
    /* display: none; */
    transform: translateX(-50%);
    z-index: -1;
}
.circle-1.abs-icon
{
   width:4rem;
    height:4rem;
    left:-2rem;
    bottom:calc(40% - 1rem);
    opacity:.5;
    z-index:9999;
}
.circle-2.abs-icon
{
   width:4rem;
    height:4rem;
    left:6rem;
      bottom:calc(40% - 3.5rem);
    opacity:1;
    z-index:-1;
}
.circle-3.abs-icon
{
   width:3rem;
   height:3rem;
   right: -1.75rem;
   bottom: -1.5rem;
   opacity:1;
   z-index:-1;
}

.circle-4.abs-icon
{
   width:5rem;
   height:5rem;
   right: -5rem;
   bottom: calc(40% + 2rem);
   opacity:1;
   z-index:-1;
    transform:rotate(-90deg);
}
.history__item:nth-child(13) .circle-4.abs-icon
{
    display:none;;
}
.circle-5.abs-icon
{
   width: 8rem;
   height: 8rem;
   right: -4rem;
   bottom: calc(40% - 2rem);
   opacity: .35;
   z-index: -1;
}
.circle-7.abs-icon
{
   width:6rem;
    height:6rem;
    left:5rem;
    bottom:calc(40% - 5.5rem);
    opacity:1;
    z-index:-1;
}
.circle-6.abs-icon
{
   width:3rem;
   height:3rem;
   right: 0rem;
   bottom:-2rem;
   opacity:1;
   z-index:-1;
}
.circle-8.abs-icon
{
   width:5rem;
   height:5rem;
   right: -4rem;
   top:5rem;
   opacity:.6;
   z-index:-1;
    transform:rotate(-90deg);
}
.history__item .history__item-image
{
    display:grid;
    position: relative;
    z-index: 2;
}
.history__item:nth-child(2n+1) .history__item-image
{
    padding-bottom:40%;
}
.history__item:nth-child(2n+2) .history__item-image
{
    padding-top: 40%;
}
.history__item-year
{
    position:absolute;
    height: 100%;
    left: .5rem;
}
.history__item:nth-child(2n+1) .history__item-year
{
    top: -15rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
}
.line
{
    position:absolute;
    height: 100%;
    left: -3rem;
    top: .5rem;
}
.line circle
{
    fill: #60AA55;
}
.line svg
{
    height: 100%;
    overflow:hidden;
    /* width: auto; */
    /* transform: scaleX(-1); */
}
.line circle {
      transform: translateY(-445px);
}
.history__item .title
{
    color:#404A3D;
    font-size:1rem;
}
.history__item .content
{
    color:#404A3D;
    font-size:.75rem;
}
.history__item .content ul
{
    margin:.5rem 0 0;
    padding: 0;
    list-style: none;
}
.history__item .content li
{
    margin-bottom:.25rem;
    position:relative;
    padding-left:.425rem;
}
.history__item .content li p
{
    margin:0;
}
.history__item .content li:before
{
    content:'';
    position:absolute;
    left:0rem;
    top:.5rem;
    width:.2rem;
    height:.25rem;
    background:#404A3D;
    border-radius:50%;
   
}
.history__item .history__item-year:nth-child(2),
.history__item:nth-child(7) .history__item-year
{
    left:5rem;
    top: calc(-15rem + 6.5rem);
    max-height:calc((100% - 7rem));
}
.history__item:nth-child(9) .history__item-year:nth-child(2)
{
     top: calc(-15rem + 4.5rem);
}
.history__item .history__item-year:nth-child(3),
.history__item:nth-child(2n+2) .history__item-year
{
    top:unset;
    max-height:calc((100% - 0rem));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 6rem;
    padding-bottom:0;
}
.history__item .history__item-year:nth-child(3)
{
     left: 7rem;
     bottom: calc(-15rem + 0rem);
     min-height: calc((100% + 7rem));
}
.history__item:nth-child(2n+2) .history__item-year
{
    bottom: calc(-15rem + 6rem);
     max-height: calc((100% - 6rem));
}
.history__item:nth-child(2n+2) .history__item-year:nth-child(2)
{
    bottom: calc(-15rem + 12rem);
    max-height: calc((100% - 12rem));
}
.history__item:nth-child(2n+2) .history__item-year
{
    left:40%;
}
.history__item:nth-child(2n+2) .history__item-year:nth-child(2)
{
    left: 65%;
}
.history__item:nth-child(2) .history__item-year
{
    left:20%;
}
.history__item:nth-child(2) .history__item-year:nth-child(2)
{
    left:50%;
}
.history__item:nth-child(3) .history__item-year
{
    left:50%;
}
.history__item:nth-child(7) .history__item-year,
.history__item:last-child .history__item-year
{
    left:10%;
}
.history__item:nth-child(4) .history__item-year
{
     max-height: calc((100% - 2rem));
    bottom: calc(-15rem + 1rem);
}
.history__item:nth-child(4) .history__item-year:nth-child(2)
{
    max-height: calc((100% - 8rem));
    bottom: calc(-15rem + 8rem);
}
.history__item:nth-child(5) .history__item-year
{
    left:80%;
}
.history__item:nth-child(11) .history__item-year,
.history__item:nth-child(13) .history__item-year
{
    left:50%;
    top: -13rem;
}
.history__item:nth-child(10) .history__item-year
{
    left:66%;
}
.history__item:nth-child(n+10) .history__item-year
{
    opacity:0;
}
.page-2 .history__item .history__item-year
{
    opacity:0;
}
.page-2 .history__item:nth-child(n+3) .history__item-year
{
    opacity:1;
}
.history__item .history__item-year:nth-child(3) .line,
.history__item:nth-child(2n+2) .history__item-year .line
{
    display:flex;
    flex-direction:column-reverse;
    transform: rotate(180deg);
}
.history__item .history__item-year:nth-child(3) .line + .history__item-content,
.history__item:nth-child(2n+2) .history__item-year .history__item-content
{
    position:absolute;
    top:calc(100% - .5rem);
    left: 1rem;
}
.history__item-content
{
    min-width: 14rem;
}
.nav 
{
    position:absolute;
    height:100%;
    width: 16rem;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    z-index:9;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 8rem, rgba(255, 255, 255, 1) 100%);
    bottom:0;
    right: -8rem;
    transition:all .25s;
}
.nav:before
{
    content:'';
    position:absolute;
    left: calc(100% - 0rem);
    top:0;
    width: calc(78.75rem + (100vw - 78.75rem)/2);
    height:100%;
    background:#fff;
    z-index: -1;
}
.nav.prev:before
{
   right: calc(100% - 0rem);
    left:unset;
}
.nav.prev
{
    right:auto;
    left:-8rem;
     background: linear-gradient(to left, rgba(255, 255, 255, 0) 0% , rgba(255, 255, 255, 1) 8rem, rgba(255, 255, 255, 1) 100%);
    justify-content:flex-start;
    visibility:hidden;
    opacity:0;
}
.page-2 + .navs .nav.prev
{
    visibility:visible;
    opacity:1;
}
.page-2 + .navs .nav.next
{
     visibility:hidden;
    opacity:0;
}
.nav img
{
    width:4rem;
    cursor:pointer;
}
.nav.prev img
{
    transform:rotate(180deg);
}
.award__contents
{
    text-align:center;
    margin-bottom: 2rem;
}
.award__contents .section__content
{
    padding:0 20%;
}
.certificate-item__title
{
    text-transform:uppercase;
    font-size:.8125rem;
    color:#999;
    margin:1rem 0;
    position:relative;
    padding-left:1rem;
}
.certificate-item__title:before
{
content: '';
  position: absolute;
  top: .4125rem;
  left: 0;
  width: .4125rem;
  height: .4125rem;
  border-radius: 50%;
  background:#60AA55;
}
.certificate-item__title span
{
    font-size:1.125rem;
    color:#000;
    display:block;
    text-transform:none;
    margin-left:-1rem;
    margin-top:.25rem;
}
.award-section
{
    background:#f4f7f4;
    padding:2.5rem 0;
}
.award-list
{
    margin:3rem 0 0;
}
.award-list .owl-item
{height:100%;}
.award-list .certificate-item
{
    background:#fff;
    border-radius:1rem;
    padding:.5rem 1.5rem;
}

.carousel--style1.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  margin: 0;
  transform:translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: calc(100% + 10rem);
  left: -5rem;
}
.carousel--style1.owl-theme .owl-nav .owl-prev
{
    right:unset;
    left:-4rem;
}
.carousel--style1 .nav-btn {
  width: 4rem;
  height: 4rem;
  background: transparent !important;
  padding: .5rem;
  border-radius: .3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
    display:flex;
    align-items:center;
    justify-content:center;
}

.carousel--style1.owl-theme .owl-nav .disabled {
  opacity: 0;
}

.carousel--style1 .disabled .nav-btn {
  background: transparent;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.carousel--style1 .nav-btn.prev-nav {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.carousel--style1 .nav-btn img
{
    width:100%;
    height: auto;
}
.carousel--style1.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.carousel--style1 .owl-nav > :not(.disabled):hover img {
  -webkit-animation: bounce-arrow .5s ease-in-out;
          animation: bounce-arrow .5s ease-in-out;
}
@-webkit-keyframes bounce-arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.25rem);
            transform: translateX(0.25rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce-arrow {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.25rem);
            transform: translateX(0.25rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.award-section .owl-carousel .owl-stage-outer
{
    z-index:2;
}
.development-section
{
    padding:3.5rem 0;
}
.development-inner
{
    display:flex;
    
}
.development__contents
{
    flex:none;
    width: 40%;
}
.development__image
{
    flex-grow:1;
    position:relative;
    /* top:-3.5rem; */
    padding-left: 4rem;
    display:flex;
    align-items:center;
}
.development__image-info .icon
{
   color:#fe9d13;
   font-weight:700;
   font-size:3rem;
   flex: none;
   width: auto;
   line-height: 1;
}
.development__image-info .text
{
    font-weight:500;
    font-size:1.125rem;
    color:#525561;
    margin-top: .5rem;
}
.development__image-info-main
{
    display:flex;
    gap:2rem;
    align-items: flex-start;
}
.development__image-info-main .development__image-info-group
{
    display:flex;
    align-items: flex-start;
    gap: 1rem;
}
.development__image-info-group-2
{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.development__image-info-main > .development__image-info-group:first-child
{
    flex-direction:column;
    flex:none;
    gap: 0;
}
.development__image-info-sub
{
    margin-top:1.5rem;
    border-top:thin solid #fe9d1354;
    padding-top:1.5rem;
    display:flex;
    gap:1rem;
}
.development__image-info-sub .icon
{
    display:flex;
    gap:1rem;
}
.development__image-info-sub .icon img
{
    width:4rem;
   
}
.development__image-info-sub .icon img:nth-child(2)
{
     max-height:4rem;
    width:auto;
}
/*--------------------------------------------------------------
>>> Vertical Nav
--------------------------------------------------------------*/
#vertical-navs {
position: fixed;
right: 2.3125rem;
top: 50%;
bottom: auto;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
z-index: 100;
}

#vertical-navs li {
text-align: right;
list-style-type: none;
margin-bottom: 1.75rem;
}

#vertical-navs a {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
color: #449250;
font-weight: 500;
font-size: .8125rem;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
pointer-events: none;
}

#vertical-navs .nav-label {
position: absolute;
right: .5rem;
margin-right: .75rem;
padding: .4em .5em;
color: #449250;
font-size: 0.8125rem;
-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
transition: opacity 0.2s, -webkit-transform 0.2s;
transition: transform 0.2s, opacity 0.2s;
transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
opacity: 0;
-webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
line-height: 1;
-webkit-transform: translateY(-0.125rem);
        transform: translateY(-0.125rem);
background: #ffffff;
border-radius: .15rem;
padding: .25rem .5rem .35rem;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
min-width: 3rem;
pointer-events: none;
}

#vertical-navs .nav-label:after {
content: '';
position: absolute;
right: 0;
top: 50%;
width: 0;
height: 0;
border: .35rem solid transparent;
border-left-color: #ffffff;
border-right: 0;
margin-top: -.35rem;
margin-right: -.35rem;
}

#vertical-navs a:after {
content: "";
display: table;
clear: both;
}

#vertical-navs a span {
float: right;
display: inline-block;
}

#vertical-navs .nav-dot {
position: relative;
height: .425rem;
width: .425rem;
border-radius: 50%;
background-color: #BDBEC0;
-webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
pointer-events: all;
}

#vertical-navs a:hover .nav-dot,
#vertical-navs a.is-selected .nav-dot {
background-color: #449250;
}

#vertical-navs a:hover .nav-dot:before,
#vertical-navs a.is-selected .nav-dot:before {
content: '';
position: absolute;
width: .85rem;
height: .85rem;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
border-radius: 50%;
border: thin solid #449250;
}

#vertical-navs a:hover .nav-dot {
-webkit-transform: scale(1);
        transform: scale(1);
}

#vertical-navs a:hover .nav-label,
#vertical-navs a.is-selected .nav-label {
opacity: 1;
}

html[lang=vi] #vertical-navs li:nth-child(1) .nav-label {
min-width: 6.5rem;
}

html[lang=vi] #vertical-navs li:nth-child(2) .nav-label {
min-width: 3.5rem;
}

html[lang=vi] #vertical-navs li:nth-child(3) .nav-label {
min-width: 4.5rem;
}

html[lang=vi] #vertical-navs li:nth-child(4) .nav-label {
min-width: 2.76rem;
}
.vision-wrap
{
    display:flex;
    padding:3rem 0 3rem;
    justify-content:space-between;
}
.vision-wrap .vision-item
{
    width:calc((100% - 3rem)/2);
}
.gallery {
padding: 1rem 0 4rem;
background: #EAEAEA;
}
.gallery .section-title-wrapper
{
    text-align:center;
}
.fadeIn {
-webkit-animation-name: fadeIn;
        animation-name: fadeIn;
}

.fadeOut {
-webkit-animation-name: fadeOut2;
        animation-name: fadeOut2;
}

.banner .owl-carousel .owl-item {
-webkit-animation-duration: 2s !important;
        animation-duration: 2s !important;
}
.culture__behaviors
{
    display:flex;
    flex-wrap:wrap;
    /* justify-content:space-between; */
}
.culture__behavior
{
    width:calc((100% - 0* 1.5rem)/3);
    text-align:left;
    display:flex;
    flex-direction:column;
    padding-left:2rem;
    box-sizing:border-box;
    margin-bottom:1rem;
    counter-increment: counter-post;
}
.culture__behavior .icon
{
    width:auto;
}
.culture__behavior .icon img
{
    height: 3.65rem;
    width:auto;
}

.culture__behavior:first-child .icon img,
.culture__behavior:nth-child(8) .icon img,
.culture__behavior:nth-child(7) .icon img
{
    transform:scale(.8)
}
.culture__behavior .title
{
    color:#0d6937;
    font-weight:600;
    font-size:1.125rem;
    line-height:1.2;
     margin-bottom:.25rem;
    position:relative;
}
.culture__behavior .title:before
{
    content:counter(counter-post);
    position:absolute;
    right: calc(100% + .425rem);
    font-size: 2.75rem;
    color:#ebebec;
    line-height: 1;
    top: -.25rem;
    font-weight: 500;
}
.culture__behavior .title span
{
    color:#c7c8ca;
}
.culture__behavior .content
{
    font-size:.75rem;
    color:#939598;
    line-height:1.3;
}
.culture__behavior .content strong
{
    font-weight:400;
    color:#000;
}
#BG
{
    display:none;
}

.videoyt {
    margin: 0;
    position: relative;
    margin: 1.5rem 14rem;
  }
  
  .videoyt__iframe,
  .videoyt__iframe iframe {
    width: 100%;
    aspect-ratio: 16/9;
      object-fit: cover;
      width: 100%;
      height:auto;
      
  }
  
  .show .videoyt__iframe {
    background: rgba(0, 0, 0, 0.644);
    -webkit-animation: fadeIn .5s linear;
            animation: fadeIn .5s linear;
  }
  
  .videoyt__thumb,
  .videoyt__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  
  .videoyt__thumb img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .videoyt__overlay {
    background: rgba(25, 23, 23, 0.01);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .videoyt__title {
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #000;
    text-align: center;
    margin-top: .75rem;
  }
  
  .videoyt__overlay .video-play__btn {
    margin-top: 0;
  }
  
  .video-play__btn {
    margin-top: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
  
  .play-icon {
    width: 4.75rem;
    height: 3.375rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ff0033;
  }
  
  .play-icon svg {
    width: 1.5rem;
    fill: #fff;
    -webkit-transform: translateX(0.125rem);
            transform: translateX(0.125rem);
  }
  
  .play-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}
.program
{
    background:#edf5df;
    padding:3rem 0;
    
}
.program
{
    background:transparent;
}
.program-viewmore
{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:-4rem 0 0 ;
}
.program-viewmore span
{
    text-align:left;
    display:block;
   margin:0 0 1rem;
}
.program .section-title-wrapper
{
    text-align:center;
}
.program-list
{
    flex-wrap:wrap;
    justify-content:flex-start;
    margin:2.5rem 0 0;
    align-items:flex-start;
}
/* 
.carousel--style1.owl-theme .owl-nav {
  position: absolute;
  top: -5.75rem;
  right: 0;
  margin: 0;
}

.carousel--style1 .nav-btn {
  width: 3.5rem;
  height: 2.75rem;
  background: transparent !important;
    border:thin solid #6D6E70;
  padding: .75rem;
  border-radius: .3125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
    display:flex;
    align-items:center;
    justify-content:center;
}

.carousel--style1.owl-theme .owl-nav .disabled {
  opacity: .375;
}

.carousel--style1 .disabled .nav-btn {
  background: transparent;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.carousel--style1 .nav-btn.prev-nav {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.carousel--style1 .nav-btn img
{
    width:.5rem;
    height: auto;
}
.carousel--style1.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.carousel--style1 .owl-nav > :not(.disabled):hover img {
  -webkit-animation: bounce-arrow .5s ease-in-out;
          animation: bounce-arrow .5s ease-in-out;
} */
body .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 1.07rem;
}

body .site-main .owl-theme .owl-dots .owl-dot span {
  width: .45rem;
  height: .45rem;
  background: #BDBEC0;
}

body .owl-theme .owl-dots .owl-dot.active span {
  background: #58595B;
  position: relative;
}

body .owl-theme .owl-dots .owl-dot.active span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: thin solid #58595B;
}

body .owl-theme .owl-dots .owl-dot {
  margin: 0 .42rem;
}
.program-item
{
    width:calc((100% - 2 * 2rem)/3);
    width:100%;
    margin-bottom:2rem;
    margin-right: 0;
    border-radius:1.5rem;
    overflow:hidden;
    position:relative;
}
.program-item a:before
{
   content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
}
.program-item:nth-child(3n+3)
{
    margin-right:0;
}
.program-item .image
{
    display:grid;
}
.program-item .image img
{
    aspect-ratio: 390/330;
    object-fit: cover;
    width: 100%;
    height:auto;
    
}
.program-item .content
{
    background:#fff;
    padding: 1.25rem 1.5rem;
    line-height:1.6;
    text-align: justify;
}
.program-item .content>*:first-child
{
    margin:0 0 1rem;
    font-size: 1.5rem;
}
.program-item .content a
{
    color:#60AA55;
    text-transform:uppercase;
}
.program .owl-stage {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px)
{
    .program .owl-stage {
      left: 50%;
      transform: translateX(-50%) !important;
    }
}
@media screen and (max-width: 1023px)
{
    .message-1-inner,
    .message-3-inner,
    .philosophy-inner,
    .brands-inner,
    .culture-inner,
    .number-inner,
    .development-inner
    {
        flex-wrap:wrap;
        position:relative;
    }
    .message-1__image
    {
        width:75%;
        /* position:absolute; */
        top:2rem;
        text-align:center;
    }
    .message-1__content blockquote
    {
        /* padding-left:50%; */
        font-size:1.25rem;
        /* text-align:right; */
    }
    .message-2__content
    {
        font-size:1.5rem;
    }
    .message-3__content
    {
        padding:0;
    }
    .message-3__image,
    .philosophy__image,
    .culture__image,
    .number__images,
    .development__contents
    {
        width:100%;
    }
    .philosophy__contents
    {
        padding:0;
    }
     .brands__images,
    .brands__contents
    {
        width:100%;
        padding: 0;
        margin: 0;
    }
    .brands__contents,
    .culture__image
    {
        margin-top:1rem;
    }
    .brands__content>*:first-child, .brands__content>*:first-child *
    {
        /* font-size:1.375rem; */
    }
    .culture__contents
    {
        width:100%;
        padding-right:0;
        order: 2;
        margin-top: 1rem;
    }
    .culture__contents .section-title,
    .mision-section .section-title
    {
        font-size:2rem;
    }
    .culture__contents .section-title br
    {
        display:none;
    }
    .number__contents
    {
        margin-top:2rem;
    }
    .dotted-1
    {
        right:2rem;
        bottom:0rem;
    }
    .one_half.last ~ .one_half .counter-wrap,
    .one_half.last ~ .last ~ .one_half .counter-wrap
    {
        flex-wrap:nowrap;
    }
    .one_half .counter,
    .one_half.last ~ .one_half .counter-wrap .counter,
    .one_half.last ~ .last ~ .one_half .counter-wrap .counter
    {
        width: 50%;
        flex: none;
    }
    .counter-wrap
    {
        flex-wrap:nowrap;
    }
    .counter
    {
        font-size: 2.25rem;
        text-align:left;
    }
    .award__contents .section__content
    {
        padding:0;
    }
     .award-list .owl-stage,
    .certificates-list .owl-stage
        {
          padding-left:0 !important;
        }
    .development__image
    {
        top:0;
        left: 0;
        padding-left: 0;
        width: 100%;
    }
    .culture__behavior
    {
        width:50%;
    }
    .mision-row,
    .values-list
    {
        padding:0;
    }
    .circle-44
    {
        width:4rem;
    }
    .dots-1
    {
        width:5.5rem;
        left:-1rem;
        top:-2rem;
    }
    .mision-section
    {
        overflow:hidden;
    }
    .light-1
    {
        width: 100vw;
        left: -1.5rem;
        bottom:15rem;
    }
    .mision-row .title
    {
        width:6rem;
        font-size: 1.125rem;
        padding-right: 1.5rem;
        box-sizing: border-box;
    }
    .value-item:first-child
    {
        position:static;
        width: 100%;
        height: 16rem;
    }
    .value-item:nth-child(1) .value-item__image
    {
        padding-left:4rem;
    }
    .value-item
    {
        /* width:100%; */
        height:9rem;
    }
    .value-item__title
    {
        font-size:.875rem;
        left:1rem;
        top:1rem;
        padding-right: 0;
    }
    .value-item:nth-child(2n+1) .value-item__title
    {
        padding-right:1rem;
        padding-left:0;
    }
    .value-item__image
    {
        padding-right:1rem;
    }
    .value-item:nth-child(2n+2) .value-item__image
    {
        padding-left:1rem;
    }
    .value-item:first-child:before
    {
        width:4rem;
    }
    .value-item:nth-child(2):before
    {
        width: 4rem;
        right: -2rem;
    }
    .value-item:nth-child(4):before
    {
        width:6rem;
        right: -3rem;
    }
    .mision-row.value:before,
    .mision-row.value:after
    {
        content:none;
    }
    .mision-section:before
    {
        width:23.5vw;
    }
    .videoyt
    {
        margin-left:0;
        margin-right:0;
    }
    .carousel--style1 .nav-btn, .carousel-counter
	{
		display:none;
	}
    .award-list
    {
        margin-bottom: 4rem;
    }
    .award-list .owl-dots
    {
        position:absolute;
        bottom: -4rem;
        display: flex;
        overflow-x:auto;
        max-width: 100%;
    }
    .program .section-title
    {
        font-size: 2rem;
    }

    .history__list
    {
        flex-direction:column;
        padding-bottom: 3rem;
        width: 100%;
        position:relative;
    }
    .history__list:before
    {
        content:'';
        position:absolute;
        left:0rem;
        top:0;
        width:0%;
        height:100%;
        border-left:thin solid #ccc;
    }
    .history__list .history__item:first-child
    {
        margin-top:0;
    }
    .history__list .history__item
    {
        margin:1rem 0;
        transform: none;
        width: 100%;
        transform: none !important;
        position: static;
        padding-left: 2rem;
        box-sizing: border-box;
        z-index: 2;
        left: unset;
    }
    .history__item .history__item-image
    {
        padding:0 !important;
        margin-bottom: 1rem;
    }
    .history__item .history__item-image:before
    {
        content:'';
        position:absolute;
        left:-2.375rem;
        top:0%;
        width:.75rem;
        height:.75rem;
        background:#60AA55;
        border-radius:50%;
    }
    .history__list .history__item .history__item-year
    {
        position:static;
        padding: 0;
        max-height: unset;
        margin-bottom: 1rem;
        min-height: unset;
    }
    .history__item:nth-child(n+10) .history__item-year
    {
        opacity:1;
    }
    .history__list-wrap .navs,
    .history__item-image2
    {
        display:none;
    }
    .history__item:nth-child(5) .history__item-image>img
    {
        width:100%;
    }
    .history__item-content
    {
        position:static !important;
        min-width: unset;
    }
    .line
    {
        display: none !important;
    }
    .history__item-image > img,
    .history__item:nth-child(4) .history__item-image>img
    {
        aspect-ratio: 16/9 !important;
        object-fit: cover;
        width: 100%;
        height:auto;
        position:static;
        transform:none;
    }
    .brands .section-title
    {
        font-size: 2rem;
    }
    .history__contents .section-title
    {
        font-size: 1.875rem;
    }
    .development__image-info-main
    {
        flex-wrap:wrap;
        gap: 1rem;
    }
    .development__image-info-main > .development__image-info-group:first-child
    {
        flex-direction:row;
        gap: 1rem;
    }
    .development__image-info-main .icon
    {
        width:3.5rem;
    }
    .development__image-info-sub
    {
        flex-direction:column;
    }
    .development__image-info-sub .icon img
    {
       
    }
}
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape), 
(min-width: 600px) and (max-width: 1366px) and (hover: none) and (pointer: coarse) and (orientation: portrait)
{
    .light-1 {
        width: 90vw;
        left: -1.5rem;
        bottom: 15rem;
    }
    .value-item
    {
        height:auto;
    }
    .mision-row .title
    {
        width:22vw;
    }
    .value-item:first-child
    {
        height:auto;
    }
}