.branch-inner

{

    display:flex;

    align-items: center;

}

.branch-section

{

    padding:3rem 0;

}

.branch-section + .branch-section

{

    padding-top:0;

}

#dt-main-content .branch__image

{

    flex:none;

    width:50%;

    display: flex;

    justify-content: flex-end;

}

#dt-main-content .branch__image .branch__image-carousel

{

     min-width:calc((100% + (100vw - 78.75rem)/2));

     

}

.branch__image .owl-item,

.branch__image .owl-item *

{

    height:100%;

}

.branch__image .owl-dots

{

    position:absolute;

    bottom:1rem;

    width:100%;

}

.branch__image img

{

    /* min-width:calc((100% + (100vw - 78.75rem)/2)); */

    min-height: 38rem;

    height: 100%;

    object-fit: cover;

}

.section__button img

{

    width:1.5rem;

    filter: invert(57%) sepia(12%) saturate(1709%) hue-rotate(66deg) brightness(101%) contrast(85%);

    margin-left:.5rem;

     -webkit-transition: all .25s ease-in;

  transition: all .25s ease-in;

}

.branch__contents

{

    padding: 1.5rem 2.5rem;

    background:#60aa55;

    left:-8rem;

    position:relative;

    min-width:calc((50% + 8rem));

    box-sizing: border-box;

    color:#fff;

    z-index: 2;

}

.branch-section .section-subtitle

{

    color:#fff;

}

.branch__contents .section-title

{

    color:#fff;

}

.section__content

{

     color: #404A3D;

     font-size: 1rem;

     line-height: 1.6;

     text-align: justify;

}

.branch-section .section__content

{

    color:#fff;

    text-align: justify;

}

.branch-section .section__content p + p

{

    margin-top:0;

}

.branch-section .section__content p:first-child

{

        background:#267d2c;

        border-radius:.625rem;

        padding:.5rem 1.25rem;

        display: inline-block;

        /* margin-right: auto; */

        /* margin-left: 0; */

}

.branch-section:nth-child(5) .section__content p:first-child

{

    background: #2c8cff;

}

.branch-list

{

    margin:1rem 0;

}

.branch-item

{

    display:flex;

    align-items:center;

    margin-bottom:1rem;

}

.branch-item__image

{

    flex:none;

    width: 1.5rem;

    height: 1.5rem;

    box-sizing:border-box;

    padding: 0;

    background:#438f47;

    border-radius:50%;

    margin-right: 1rem;

    display: flex;

    align-items: center;

}

.branch-item__content .title

{

   font-weight: 400;

   font-size: 1.0625rem;

   margin-bottom:.25rem;

}

.branch-item__content .subtitle

{

    line-height:1.6;

}

.section__button

{

    text-align:right;

    margin: 1.5rem 0 0;

    position: relative;

    z-index: 2;

}



.carousel--style1.owl-theme .owl-nav {

  position: absolute;

  top: -5.75rem;

  right: 0;

  margin: 0;

}



.carousel--style1 .nav-btn {

  width: 3.5rem;

  height: 2.75rem;

  background: transparent !important;

    border:thin solid #6D6E70;

  padding: .75rem;

  border-radius: .3125rem;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  -webkit-transition: all .2s ease-in;

  transition: all .2s ease-in;

    display:flex;

    align-items:center;

    justify-content:center;

}



.carousel--style1.owl-theme .owl-nav .disabled {

  opacity: .375;

}



.carousel--style1 .disabled .nav-btn {

  background: transparent;

  -webkit-filter: brightness(0);

          filter: brightness(0);

}



.carousel--style1 .nav-btn.prev-nav {

  -webkit-transform: rotate(180deg);

          transform: rotate(180deg);

}

.carousel--style1 .nav-btn img

{

    width:.5rem;

    height: auto;

}

.carousel--style1.owl-theme .owl-nav [class*=owl-]:hover {

  background: transparent;

}



.carousel--style1 .owl-nav > :not(.disabled):hover img {

  -webkit-animation: bounce-arrow .5s ease-in-out;

          animation: bounce-arrow .5s ease-in-out;

}

.award-list-wrap .carousel--style1.owl-theme .owl-nav

{

    left:calc(100% + 1rem);

    top:50%;

    transform:translateY(-50%);

    display:flex;

    flex-direction:column;

}

.award-list-wrap .carousel--style1.owl-theme .owl-nav .disabled

{

    opacity:0;

}

.award-list-wrap .carousel--style1 .nav-btn

{

    transition: none;

    border-color:#eee;

}

.award-list-wrap .carousel--style1 .nav-btn img

{

    filter: brightness(0) invert(.9);

    transition: none;

}

body .owl-theme .owl-nav.disabled + .owl-dots {

  margin-top: 1.07rem;

}



body .site-main .owl-theme .owl-dots .owl-dot span {

  width: .45rem;

  height: .45rem;

  background: #BDBEC0;

}



body .owl-theme .owl-dots .owl-dot.active span {

  background: #eee;

  position: relative;

}



body .owl-theme .owl-dots .owl-dot.active span:before {

  content: '';

  position: absolute;

  top: 50%;

  left: 50%;

  -webkit-transform: translateX(-50%) translateY(-50%);

          transform: translateX(-50%) translateY(-50%);

  width: 1rem;

  height: 1rem;

  border-radius: 50%;

  border: thin solid #eee;

}



body .owl-theme .owl-dots .owl-dot {

  margin: 0 .42rem;

}

.award-list-wrap

{

    margin: -3.5rem 0 1rem;

    padding-right: 20rem;

    box-sizing: border-box;

   

}

.intro-section .award-list-wrap

{

    margin:0;

    max-width: 28rem;

    padding: 0;

}

.intro-section .award-list-wrap .owl-stage

{

    max-width: 28rem;

    display: flex;

}

.intro-section .award-list-wrap .owl-stage .owl-item

{

    min-width:calc((100% - 3 * 1rem)/4);

}

.intro-section .award-list-wrap .carousel--style1 .nav-btn

{

    border-color:#999;

}

.intro-section .award-list-wrap .carousel--style1 .nav-btn img

{

    filter: brightness(0) invert(.5);

}

.award-list-wrap .label

{

    margin:0 0 1rem;

    font-style:italic;

}

.award-list-wrap .label:after

{

    content:':';

}

.award-list .certificate-item__title

{

    display:none;

}

.certificate-item

{

    height:100%;

    display:flex;

    align-items:center;

}

.certificate-item a

{

    width:100%;

}

.certificate-item img

{

   /* aspect-ratio: 3/4; */

   object-fit: cover;

   width: 100%;

   height:auto;

   border-radius:.5rem;

    border:thin solid #eee;

}

.page-id-5202 .certificate-item img,

.page-id-6237 .certificate-item img

{

    aspect-ratio: 16/10;

}

.section__button a

{

    background:#fff;

      display: inline-block;

  text-align: center;

  white-space: nowrap;

  font-family: 'SVN-Gotham';

  font-size: .9375rem;

  font-weight: 400;

  line-height: 1;

  text-decoration: none;

  cursor: pointer;

  padding: .65rem 1.75rem .785rem;

  border-radius: 1.5rem;

  -webkit-transition: all .25s ease-in;

  transition: all .25s ease-in;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  border: none;

  -webkit-box-shadow: none;

  box-shadow: none;

    color:#60aa55;

}

.section__button a:hover,

.section__button a:focus

{

    background: #449250;

  border-color: #449250;

    color:#fff;

}

.section__button a:hover img,

.section__button a:focus img

{

    filter:none;

}

.branch-section.swap .branch-inner

{

    flex-direction:row-reverse;

}

#dt-main-content .branch-section.swap .branch__image

{

    justify-content:flex-start;

}

.branch-section.swap .branch__contents

{

    left:auto;

    right:-8rem;

}

.branch-section:nth-child(3) .branch__contents

{

    background:#2e663b;

}

.branch-section:nth-child(4) .branch__contents

{

    background:#0b4028;

}

.branch-section:nth-child(5) .branch__contents

{

    background:#185eb2;

}

.branch-section:nth-child(3) .branch-item__image

{

    background:#438f47;

}

.branch-section:nth-child(4) .branch-item__image

{

    background:transparent;

}

.branch-section:nth-child(5) .branch-item__image

{

    background:#2b80e6;

}

.branch-section:nth-child(3) .section__button a:hover,

.branch-section:nth-child(3) .section__button a:focus

{

    background:#438f47;

}

.branch-section:nth-child(4) .section__button a:hover,

.branch-section:nth-child(4) .section__button a:focus

{

    background:#438f47;

}

.branch-section:nth-child(5) .section__button a:hover,

.branch-section:nth-child(5) .section__button a:focus

{

    background:#2b80e6;

}

.supporting__list,

.supporting__item

{

    display:flex;

    justify-content:space-between;

}

.supporting__item

{

    width:45%;

}

.supporting__item .title

{

    color:#999999;

    font-size:1.125rem;

    margin-bottom:.5rem;

}

.supporting__item-image

{

    flex:none;

    width:12rem;

    margin-right:1.5rem;

}

.supporting__item-content

{

    padding-right:5rem;

    line-height:1.6;

    

}

.otherindustry-section,

.supporting-section

{

    padding: 3.5rem 0;

    position: relative;

    z-index: 1;

}

.supporting-section

{

    display:none;

}

.otherindustry__list

{

    display:flex;

    flex-wrap:wrap;

    justify-content: center;

}

.otherindustry__item

{

    width:calc((100% - 2*3rem)/3);

    margin-right:3rem;

    margin-bottom:2rem;

    border-radius:1rem;

    overflow:hidden;

}

.otherindustry__item:last-child,

.otherindustry__item:nth-child(3n+3)

{

    margin-right:0;

}

.otherindustry__item-image

{

    display:grid;

}

.otherindustry__item-image img

{

    aspect-ratio: 390/330;

    object-fit: cover;

    width: 100%;

    height:auto;

    

}

.otherindustry-section:before

{

    content:'';

    position:absolute;

    left:0;

    bottom: 0;

    width:100%;

    height: calc((100% - 10rem));

    background:#f2f1f2;

    z-index: -1;

}

.otherindustry__item-content

{

    background:#fff;

    padding:1rem 1.5rem;

    height: 100%;

}

.otherindustry__item-content .title

{

    font-size:1.5rem;

    font-weight:500;

}

.otherindustry__item-content .content

{

    line-height:1.6;

    text-align: justify;

}

.otherindustry__item-content .content a

{

    color:#60AA55;

}

.otherindustry__item-content .content a img

{

    width:1.5rem;

    margin-left:.5rem;

    filter: invert(57%) sepia(12%) saturate(1709%) hue-rotate(66deg) brightness(101%) contrast(85%);

}

.intro-section

{

    padding:3.5rem 0 ;

}

.intro-inner

{

    display:flex;

    align-items: flex-start;

    max-width: 100%;

}

.intro__images

{

    display:flex;

    flex-direction:column;

    flex: none;

    width: calc(42% - 3rem);

    margin-right: 3rem;

    box-sizing:border-box;

    position: relative;

}

.intro-section .intro__images

{

    margin-right:0;

}

.intro__images>*

{

    padding-left: calc(46% + 1.5rem);

    display:grid;

}

.intro__image2

{

    margin-bottom:1.5rem;

    margin-top: 10rem;

}

.intro__images>.intro__image1

{

    width: 46%;

    position:absolute;

    left:0;

    padding-left: 0;

    top: 0;

}

.intro__images>.intro__image1 img

{

     aspect-ratio: 239/565;

}

.intro__images img

{

    aspect-ratio: 287/221;

    object-fit: cover;

    width: 100%;

    height:auto;

    border-radius: .75rem;

}

.intro__images>.intro__image3 img

{

     aspect-ratio: 1/1;

}

.intro__images

{

    order:2;

}

.dotted-1

{

    width:7rem;

    height:5rem;

    right: 3rem;

    bottom: -3rem;

    z-index:-1;

}

.intro__contents

{

    padding-right:5rem;

    box-sizing: border-box;

    flex-grow: 1;

}

.intro__contents .section-title-wrapper + .section__content p

{

    font-size: 1.25rem;

    color: #60AA55;

    font-weight: 400;

    line-height: 1.8;

}

.services__list

{

    display:flex;

    flex-wrap:wrap;

    margin:2.5rem 0 0;

}

.services__item

{

    width:calc((100% - 3rem)/2);

    margin-right:3rem;

    margin-bottom:3rem;

    border-radius:1rem;

    border-bottom-left-radius: 0;

    border-bottom-right-radius: 0;

    overflow:hidden;

    display: flex;

    flex-direction: column;

}

.page-id-5195 .services__item,

.page-id-6227 .services__item,

#qd-tek

{

    width:100%;

    flex-direction:row;

    align-items:center;

    background:#fff;

    border-radius:1rem;

    overflow:hidden;

    border:thin solid #f9f9f9;

    margin-right: 0;

}

#qd-tek .services__item-image,

.page-id-5195 .services__item .services__item-image,

.page-id-6227 .services__item .services__item-image

{

    width:40%;

    flex:none;

}

.services__item:nth-child(2n+2)

{

    margin-right:0;

}

.services__item-image

{

    display:grid;

}

.services__item-image img

{

    aspect-ratio: 610/290;

    object-fit: cover;

    width: 100%;

    height:auto;

}

.page-id-5195 .services__item-image img,

.page-id-6227 .services__item-image img

{

    aspect-ratio: unset;

}

.services-section

{

    position:relative;

    padding: 2rem 0;

}

.services-section:before

{

    content:'';

    position:absolute;

    left:0;

    bottom: 0;

    width:100%;

    height: calc((100% - 16rem));

    background:#e3eee3;

    z-index: -1;

}

.services__item-content

{

    background:#fff;

    padding:1rem 1.5rem;

    border-bottom-left-radius: 1rem;

    border-bottom-right-radius: 1rem;

    flex-grow: 1;

}

.services__item-content .socials

{

    margin:-3.375rem 0 1rem;

}

.services__item-content .socials a

{

    border:thin solid #60aa55;

}

/* 

.services__item-content .socials a img

{

    filter:brightness(0) invert(1);

}

.services__item-content .socials a:hover,

.services__item-content .socials a:focus

{

    background:#6abd5e;

} */

.services__item-content .title

{

    font-size:1.5rem;

    font-weight:500;

}

.services__item-content .content

{

    line-height:1.6;

    text-align: justify;

}

.services__item-content .content a

{

    color:#60AA55;

}

.services__item-content .content .btn

{

    display:inline-block;

    margin-left:auto;

    margin-right:0;

    position:relative;

    left:100%;

    transform:translateX(-100%);

    border-color: #60AA55;

}

.services__item-content .content .btn:hover,

.services__item-content .content .btn:focus

{

    color:#fff;

     border-color: #fff;

}

.services__item.services__item-ani

{

    width:100%;

    margin-right:0;

    display:flex;

    align-items:stretch;

    align-items: center;

    background: #fff;

}

.services__item.services__item-ani .services__item-image

{

    width:50%;

    flex:none;

    padding:1.5rem;

    box-sizing:border-box;

    background: #fff;

}

.services__item.services__item-ani .services__item-image img

{

    object-fit: cover;

    width: 100%;

    height:100%;

    aspect-ratio: auto;

}

.services__item-content ul

{

    list-style:none;

    padding:0;

    display:flex;

    flex-wrap:wrap;

    justify-content:space-between;

    margin: 0;

}

.services__item-content li

{

    width:calc((100% - 0rem)/1);

    position:relative;

    padding-left:1.6rem;

    box-sizing:border-box;

    margin-bottom:.5rem;

    /* white-space:nowrap; */

}

.page-template-san-pham-chi-tiet .services__item-content li

{

    padding-left:1.875rem;

}

.services__item-ani .title

{

    margin-top:1.5rem;

}

.services__item-content li:before

{

    content:'';

    position:absolute;

    left:0rem;

    top:.3125rem;

    width:1.25rem;

    height:1.25rem;

    background-image:url(https://www.greenfeed.com.vn/wp-content/themes/greenfeed/assets/images/check.svg);

    background-size:contain;

    background-position:center;

    background-repeat:no-repeat;



}

.intro-video

{

    padding:0 10rem;

    margin:4rem 0 0;

}

.intro-video .title

{

    text-align:center;

    text-transform: uppercase;

    margin:1rem 0 2rem;

}

.intro-video .wp-video-shortcode

{

    width:100% !important;

    height:auto !important;

}

strong.large

{

    font-size:1.25rem;

}

.services__item-content a[href^="#popup"]

{

    color:#000;

    position:relative;

    font-weight:500;

}

.services__item-content a[href^="#popup"]:after

{

    content:'';

    position:absolute;

    left: calc(100% + 1rem);

    bottom:.125rem;

    width:1.75rem;

    height:1rem;

    background-image:url(https://www.greenfeed.com.vn/wp-content/themes/greenfeed/assets/images/long-arr-next.svg);

    background-size:contain;

    background-position:center;

    background-repeat:no-repeat;

    filter: invert(1);

}

.services__item-content a[href^="#popup"]:before

{

    content:'';

    position:absolute;

    left: calc(100%);

    bottom:.125rem;

    width:1.75rem;

    height:1rem;

}

/* Product Lightbox */

.product-lightbox-wrapper {

  position: fixed;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

  background-color: rgba(0, 0, 0, 0.65);

  opacity: 0;

  visibility: hidden;

  z-index: -1;

}



.product-lightbox-wrapper.show {

  opacity: 1;

  visibility: visible;

  z-index: 1002;

  -webkit-transition: none;

  transition: none;

}



.product-lightbox-wrapper.show .product-lightbox {

  -webkit-animation: zoomIn .5s ease-out;

          animation: zoomIn .5s ease-out;

  -webkit-animation-fill-mode: forwards;

          animation-fill-mode: forwards;

}



.product-lightbox {

  width: 57.5rem;

  max-width: 92%;

  background: #fff;

  padding: 2rem 2.375rem;

  background: #fff;

  -webkit-box-shadow: 0.125rem 0.625rem 0.4375rem rgba(0, 0, 0, 0.2);

  box-shadow: 0.125rem 0.625rem 0.4375rem rgba(0, 0, 0, 0.2);

  max-height: 85%;

  overflow-y: auto;

  scroll-behavior: smooth;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);

  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);

}



.product-lightbox-header {

  position: relative;

}



.close-btn {

  position: absolute;

  cursor: pointer;

  right: -1.35rem;

  top: -1rem;

  background: #E4E6EB;

  border-radius: 50%;

  width: 2.1875rem;

  height: 2.1875rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

  padding: .45rem;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  -webkit-transition: all .25s;

  transition: all .25s;

}



.product-lightbox .close-btn {

  right: -2rem;

  top: -1.7rem;

}



.close-btn:hover {

  background: #d0d1d3;

}



.product-lightbox-content {

  -webkit-box-align: start;

      -ms-flex-align: start;

          align-items: flex-start;

}



.product-content {

    display:flex;

  -webkit-box-pack: start;

      -ms-flex-pack: start;

          justify-content: flex-start;

    gap:2rem;

}



.product-image {

    width:40%;

    flex:none;

    display: flex;

    align-items: center;

}

.product-content .subtitle

{

    text-transform:uppercase;

    font-size:.8rem;

    color: #12492F;

}

.product-content .product-title

{

    margin:.5rem 0 1rem;

    font-size: 1.5rem;

    color: #60AA55;

    text-transform:uppercase;

}

.product-content .product-expert

{

    color: #404A3D;

    font-size: 1rem;

    line-height: 1.6;

    text-align: justify;

}

.product-content .product-meta

{

    display:flex;

    justify-content:flex-end;

}

.product-expert .label

{

    text-transform:uppercase;

    font-weight:600;

    margin:-1.5rem 0 0;

}

.product-info {

  -ms-flex-preferred-size: calc(100% - 15.125rem);

      flex-basis: calc(100% - 15.125rem);

  /* max-width: calc(100% - 15.125rem); */

  padding-left: 1.75rem;

}



.animate__zoomIn {

  -webkit-animation-name: zoomIn;

  animation-name: zoomIn;

}

@-webkit-keyframes zoomIn {

  from {

    opacity: 0;

    -webkit-transform: scale3d(0.3, 0.3, 0.3);

    transform: scale3d(0.3, 0.3, 0.3);

  }

  50% {

    opacity: 1;

  }

  100% {

    opacity: 1;

  }

}



@keyframes zoomIn {

  from {

    opacity: 0;

    -webkit-transform: scale3d(0.3, 0.3, 0.3);

    transform: scale3d(0.3, 0.3, 0.3);

  }

  50% {

    opacity: 1;

  }

  100% {

    opacity: 1;

  }

}

@media screen and (max-width: 1023px)

{

    .branch-inner,

    .intro-inner,

    .services__item:last-child,

    .page-id-5195 .services__item, .page-id-6227 .services__item, #qd-tek

    {

        flex-wrap:wrap;

        padding:1rem 0;

    }

    .branch__image,

    .intro__images,

    #dt-main-content .branch__image

    {

        width:100%;

    }

    .branch__image img

    {

        min-height:auto;

    }

    .site-main .branch-section.swap .branch__contents,

    .branch-section .branch__contents

    {

        left:0;

        right:0;

        padding: 1.5rem;

    }

    .branch-item__image

    {

        /* width:4rem; */

        /* height:4rem; */

    }

    .branch-item__content .title

    {

        font-size: 1rem;

    }

    .section__button

    {

        margin-top:2rem;

    }

    .otherindustry__item,

    .services__item,

    .services__item:last-child .services__item-image,

    #qd-tek .services__item-image,

    #qd-tek .services__item-image, .page-id-5195 .services__item .services__item-image, .page-id-6227 .services__item .services__item-image

    {

        width:100%;

        margin-right:0;

    }

    .intro__contents

    {

        padding-right:0;
        max-width: 100%;

    }

    .branch-item__image

    {

        width:1.5rem;

        height:1.5rem;

    }

    .award-list-wrap

    {

        padding:0;

        margin: 1.5rem 0 0;

    }

    .award-list-wrap .carousel--style1.owl-theme .owl-nav

    {

        display:none;

    }

    .intro-video

    {

        padding:0;

    }

    .intro-video .title

    {

        font-size:1.0625rem;

        white-space:nowrap;

        margin:1.5rem 0;

    }

    .product-content

    {

        flex-wrap:wrap;

        

    }

     .product-content>*

    {

        width:100%;

        max-width: 100%;

        flex-basis: 100%;

        padding: 0;

    }

    .product-lightbox

    {

        padding:1rem;

    }

    .product-lightbox .close-btn

    {

        right:-.5rem;

        top:-.5rem;

    }

    .services__item-content .socials a

    {

        margin-right:.45rem;

        padding: .5rem;

    }

    .services__item-content .content .btn

    {

        padding-left:1.5rem;

        padding-right:1.5rem;

    }

}